[submodule "CogVideo"]
	path = CogVideo
	url = https://github.com/THUDM/CogVideo.git
[submodule "videocomposer"]
	path = videocomposer
	url = https://github.com/damo-vilab/videocomposer.git
[submodule "CogVideo_demo"]
	path = CogVideo_demo
	url = https://github.com/hysts/CogVideo_demo
[submodule "programs/ninja"]
	path = programs/ninja
	url = https://github.com/ninja-build/ninja.git
[submodule "modelscope"]
	path = modelscope
	url = https://github.com/modelscope/modelscope.git
[submodule "transformers"]
	path = transformers
	url = https://github.com/huggingface/transformers.git
[submodule "diffusers"]
	path = diffusers
	url = https://github.com/niumeng07/diffusers.git
	# url = https://github.com/huggingface/diffusers.git
[submodule "audiocraft"]
	path = audiocraft
	url = https://github.com/facebookresearch/audiocraft.git
[submodule "bark"]
	path = bark
	url = https://github.com/suno-ai/bark.git
[submodule "mozilla-TTS"]
	path = mozilla-TTS
	url = https://github.com/mozilla/TTS.git
[submodule "coqui-ai-TTS"]
	path = coqui-ai-TTS
	url = https://github.com/coqui-ai/TTS.git
[submodule "MockingBird"]
	path = MockingBird
	url = https://github.com/babysor/MockingBird
[submodule "stable-diffusion"]
	path = stable-diffusion
	url = https://github.com/CompVis/stable-diffusion.git
[submodule "generative-models"]
	path = generative-models
	url = https://github.com/Stability-AI/generative-models.git
[submodule "stable-diffusion-webui"]
	path = stable-diffusion-webui
	url = https://github.com/niumeng07/stable-diffusion-webui.git
	# url = https://github.com/AUTOMATIC1111/stable-diffusion-webui.git
[submodule "stablediffusion"]
	path = stablediffusion
	url = https://github.com/Stability-AI/stablediffusion.git
[submodule "text-generation-webui"]
	path = text-generation-webui
	url = https://github.com/oobabooga/text-generation-webui.git
[submodule "LangChain-Chinese-Getting-Started-Guide"]
	path = LangChain-Chinese-Getting-Started-Guide
	url = https://github.com/liaokongVFX/LangChain-Chinese-Getting-Started-Guide.git
[submodule "langchain"]
	path = langchain
	url = https://github.com/langchain-ai/langchain.git
[submodule "peft"]
	path = peft
	url = https://github.com/huggingface/peft.git
[submodule "AutoGPT"]
	path = AutoGPT
	url = git@github.com:Significant-Gravitas/AutoGPT.git
[submodule "deepeval"]
	path = deepeval
	url = https://github.com/niumeng07/deepeval
[submodule "llama-recipes"]
	path = llama-recipes
	url = https://github.com/niumeng07/llama-recipes
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp
