# AWS Configuration
AWS_REGION=us-east-1
# your_s3_bucket_name_here to store image and video
AWS_S3_BUCKET=nova-creative-playground-assets
AWS_DYNAMODB_TABLE=nova-creative-playground

# App Configuration
APP_THEME=light
APP_LANGUAGE=zh
APP_MAX_HISTORY_ITEMS=10
